/* common css starts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Open+Sans&family=Roboto&display=swap');
:root{
    --primaryFont:font-family: 'Josefin Sans', sans-serif;
    --secondaryFont:font-family: 'Roboto', sans-serif;
    --primaryColor:#1D1D1D;
    --secondaryColor:#FF6F61;

}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,span{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}

/* common css ends  */
/* navbar starts */

.myNavbarLg .menus li a{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
padding: 0 15px !important;
color:var(--primaryColor);
position: relative;
}

.myNavbarLg .menus li a.active{
    color: var(--secondaryColor);
}
.myNavbarLg .menus li{
    position: relative;
    opacity: 1;
    visibility: visible;
    
}
.myNavbarLg .menus li ul{
    position: absolute;
    border: 1px solid #716e6d;
    margin-top: 20px;
    opacity: 0;
    z-index: 9999999;
    background-color: white;
   visibility: hidden;
}
.myNavbarLg .menus li:hover ul{
    opacity: 1;
    visibility: visible;
    transition: 0.45s ease;
}
.myNavbarLg .menus li:hover>a{
    color: #FF6F61;
}
.myNavbarLg .menus  li a span{
   display: block;
   position: absolute;
   right: 0;
   top:50%;
   font-size: 10px;
   transform: translateY(-50%) rotate(0deg);
   transition: 0.45s ease-in;
}

.myNavbarLg .menus  li:hover a span{
    transform: translateY(-50%) rotate(-180deg);
}

.myNavbarLg .menus li ul li a{
    padding: 10px !important;
    border-bottom: 1px solid #1D1D1D;
    display: block;
    
}

.myNavbarSm .iconGroup ul li,
.myNavbarLg .iconGroup ul li{
 display: inline-block;
 margin: 0 10px;
 position: relative;
}
.myNavbarSm .iconGroup ul li,
.myNavbarSm .iconGroup ul li a,
.myNavbarSm .iconGroup ul li span,
.myNavbarLg .iconGroup ul li span,
.myNavbarLg .iconGroup ul li a{
    color: var(--primaryColor);
    font-size: 25px;
}

 .myNavbarSm .iconGroup ul li a span,
.myNavbarLg .iconGroup ul li a span{
    position: absolute;
    width: 15px;
    height: 15px;
    display: block;
    line-height: 15px;
    border-radius: 50%;
    text-align: center;
    right: -4px;
    bottom: 15px;
    background-color: var(--secondaryColor);
}

/* navbar ends */
/* banner starts */
#banner .banner-slide{
    height: 700px;
    background-size: cover;
    background-position: center;
}
.col-lg-5 h5{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #1D1D1D;
}
.col-lg-5 h1{
    font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 74px;
color: #1D1D1D;

}
.col-lg-5 p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #1D1D1D;

}
.col-lg-5 a{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 30px;
text-align: center;
color: white;
background-color: var(--secondaryColor);
display: inline-block;
padding: 15px 20px;
margin:20px 10px 20px 0;
}
.col-lg-5 span{
    margin: 0 15px;
}
#banner .slick-dots{
    position: absolute;
    top:70%;
    left:4%;
}
#banner .slick-dots li{
    display: inline-block;
}
  #banner .slick-dots button{
    width: 25px;
    height: 15px;
    background-color: aliceblue;
    color: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    margin-right: 5px;
    transition: 0.45s;
}

#banner .slick-dots .slick-active button{
    background-color: var(--secondaryColor);
    width: 26px;
    transition: 0.45s;
}


/* banner ends */
/* banner! starts here */
#banner-one{
    background-color: #FF6F61;
}
.col-5-lg .card-img img{
    width: 40%;
}


/* banner! ends here */
